{% extends 'hose_usage/base.html' %}


{% block title %}Hose - index{% endblock %}
{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hose_usage/style.css' %}">

    <div class="jumbotron">
        Hi <b>{{ user.username }}!</b>
        Your last login was {{ user.last_login }}
    </div>
    {% if hoses_shared %}
    <div>
        <h3>Your Hoses</h3>
        <div class="list-group">
            {% for hose in hoses_shared %}
                <a href="{% url 'h:show_hose' hose.hose_id %}"
                   class="list-group-item d-flex justify-content-between align-items-center"
                >
                    <font color="black">{{ hose.hose_name }} with {{ hose.other_user_username }}</font>
                        <span class="badge badge-primary badge-pill">{{ hose.nb_songs }} song{{ hose.number_songs|pluralize }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <div>
            <p>No hoses are available.</p>
        </div>
    {% endif %}
{% endblock %}
