:root {
    --main-bg-dim: #ffd1f5;
    --body-bg-dim: #fffafa;  /* snow */
}

header {
    background-color: var(--body-bg-dim);
    border-bottom: gray dot-dash 1px;
}

#banner {
    width: 100%;
    max-width: 1000px;
}

#banner-nav .nav-item {
    font-size: 500%;
}
